<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reda_benchraa.asn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MyProfile"/>
        <activity android:name=".MyGroups" />
        <activity android:name=".home" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".group" />
        <activity android:name=".group_poll" />
        <activity android:name=".MyMessages" />
        <activity android:name=".NewMessage" />
        <activity android:name=".mynotification" />
        <activity android:name=".InfoGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".post"/>
        <activity android:name=".conversation"/>
        <activity
            android:name=".updateGroup"
            android:label="@string/title_activity_update_group"/>
        <activity android:name=".add_contact_message"></activity>
    </application>


</manifest>